*.gem
*.rbc
.config
.bundle/install.log
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
tags
test/tmp
test/version_tmp
tmp
vendor

# YARD artifacts
.yardoc
_yardoc
doc/
/Gemfile.lock
build
.DS_Store
photoapp/.DS_Store
hocaboo-api/.DS_Store
